html, body {
  height: 100%;
  width: 100%;
}

 Body {
background-image:url(Images/Bronco.jpg);
background-position: top left;
background-repeat: repeat, repeat;
 background-size: cover;
}

.grid-box {
        display:grid;
        grid-template-columns: 2fr 2fr .3fr;
        grid-column-gap: 10px;
        grid-auto-rows: 100%;
}
.grid-box1 {
        display:grid;
        grid-template-columns: .3fr 2fr 2fr;
        grid-column-gap: 10px;
        grid-auto-rows: 100%;
        margin-top: 10px;
        
}

div.floatr {
        padding-top:.7%;
        Float: Right;
       }
div.main {
        Background-color:lightBlue;
        opacity: .99;
        width:50vw
}

h1 {color:Darkbrown;
   font-size: 300%;
   text-decoration: underline;}


input:focus {
  background-color: lightgray;
}

div.gridbox1 {
        Background-color: lightgray; 
        opacity: .9;
        padding: 5px;
        float: left;

}


div.gridbox2 {
        Background-color:lightBlue;
        opacity: .93;
        padding: 5px;
}

div.gridbox3 {
        background-image: url(Images/Background1.jpg);
        background-size: cover;
        width: 80px;
        height: 600px;
      
}

div.gridbox4 {
        Background-color:lightgray;
        width: 100px;
      
}


.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-half .col {
  width: 50%;
}


#container {
        display:flex;
        margin-bottom: 10px;
        background-color: #333;
}

#container1 {
        display:flex;
        margin-bottom: 10px;
        
}
div.c_b_2 {
        float:right;
        background-color: #444;
        margin-left: 20px;
        height: 150px;
        width: 600px;
        color:white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
